.advantages-wrapper{
    display: flex;
    justify-content: center;
    align-content: center;

    position: relative;
    flex-direction: column;
    height: 400px;
    width: 800px;
    margin: 200px auto;
}

.advantages-text-wrapper{
    position: relative;
    display: block;
    margin: 10px auto;
    width: 700px;
    height: 292px;

    padding-top: 40px;
    padding-left: 40px;

    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
}

.advantages-text{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #000000;
}

.advantages-number{
    position: absolute;
    right: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 144px;
    line-height: 176px;
    color: #000000;
}

.advantages-img{
    display: block;
    width: 800px;
    position: absolute;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.2);
    transition: 0.5s linear;
}

.advantages-img:hover{
    top: -200px;
}


.arrow-right{
   position: absolute;
    bottom: 20%;
    right: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s linear;
}

.arrow-right:hover{
    right: -3%;
}




.advantages-nav{
    display: flex;
    margin: 40px auto;
    align-content: center;
}

.advantages-nav-item{

    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    margin: 20px;
    color: #6A6A6A;


    transition: 0.2s linear;
}

.advantages-nav-item:hover{

    font-size: 20px;
    color: #6A6A6A;
}


.advantages-nav-item.active-adv-nav{
    font-size: 20px;


    color: #FFFFFF;
    margin: 20px;
}





li{
    list-style-type: none;
}


.line-under-li{
    width: 60px;
    height: 0;
    margin-top: 10px;
    border: 1px solid white;
}


.line-right {
    -webkit-animation: line-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: line-right 3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes line-right {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}
@keyframes line-right {
    0% {
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        opacity: 1;
    }
}

