.logo {

    margin-top: 100px;
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 117px;


    letter-spacing: 0.395em;

    color: transparent;

    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    background-image: url("../../img/down.png");
    background-repeat: no-repeat;
    background-size: 100%;
    -webkit-background-clip: text;

    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
    animation: background-slide 10s linear infinite;
}


@keyframes background-slide {
    0% {
        background-position: center 0 ;
    }
    50% {
        background-position: center 100% ;
    }
    100% {
        background-position: center 0 ;

    }
}

@-webkit-keyframes  background-slide {
    0% {
        background-position: center 0 ;
    }
    50% {
        background-position: center 100% ;

    }
    100% {
        background-position: center 0 ;
    }
}

.main-page-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.tittle{
    margin-top: 200px;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    /* identical to box height */


    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.sub-tittle{
    margin-top: 25px;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 44px;
    text-align: center;

    color: #FFFFFF;
    width: 714px;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}


.mail{

    position: absolute;

    bottom: 5%;
    left: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;



    color: #FFFFFF;

    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

#gallerySvg{
    position: absolute;
    right: 0;
    height: 168px;
    width: 135px;
}


@media only screen
and (max-device-width: 768px)
and (max-device-width: 1024px) {

.logo {

    margin-top: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 46px;
}

    .tittle{
        margin-top: 100px;
        font-size: 24px;
        line-height: 20px;
    }

    .sub-tittle{
        margin-top: 15px;
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 44px;
        width: 480px;

    }

    #gallerySvg{
        position: absolute;
        right: 0;
        width: 80px;
    }
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 425px) {

    .logo {
        margin-top: 50px;
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 46px;
    }

    .tittle{
        margin-top: 80px;
        font-size: 18px;
        line-height: 20px;
    }

    .sub-tittle{
        margin-top: 15px;
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        width: 300px;

    }

    #gallerySvg{
        position: absolute;
        right: 0;
        top: 10%;
        width: 40px;
    }

    .mail{
        display: none;
    }
}
