.nav-bar-wrapper{
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 150px;
}


.nav-bar-page{
 display: flex;
    justify-content: left;
    align-items: center;
}


.nav-bar-n{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left: 10px;
    transition: 0.5s linear;
}





.nav-bar-line{
    width: 35px;
    border: 1px solid #FFFFFF;
    height: 1px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 20px 0 20px 0;
    transition: 0.5s linear;
}

.nav-bar-line:hover{
    width: 60px;
}


.n-line-wrapper{
    display: flex;
    align-items: center;
}



.nav-bar-line-active{
    width: 75px;
    border: 1px solid #FFFFFF;
    height: 1px;
}


.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

